DATABASE_URL=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
PORTAL_JWT_ACCESS_SECRET=
PORTAL_JWT_REFRESH_SECRET=
APP_ENCRYPTION_KEY=
CONTROL_PANEL_API_KEY=
CORS_ORIGINS=
REDIS_URL=
STORAGE_PROVIDER=
NODE_ENV=
